################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/readme copy to github
*.ps
*.pyc
/.vs/TriCleaver/v16
/.vs/WS/v16
/checkpoints
